h1{
    text-align: center;
}
 
.hlo{
   position: relative;
   font-size: large;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




h1{
    background-color: aqua;
}
p{
background-color: lightcoral;

}